In [4]:
import os
os.chdir('/Users/robbyjeffries/MSEACapstone/Data')

import pandas as pd
import gzip

In [15]:
json_clean = pd.read_json('sample2.json', orient='index')
json_clean.T

,asin,title,feature,description,price,imageURL,imageURLHighRes,also_buy,also_viewed,salesRank,brand,categories
0,0000031852,Girls Ballet Tutu Zebra Hot Pink,"[Botiquecutie Trademark exclusive Brand, Hot P...",This tutu is great for dress up play for your ...,3.17,http://ecx.images-amazon.com/images/I/51fAmVkT...,http://ecx.images-amazon.com/images/I/51fAmVkT...,"[B00JHONN1S, B002BZX8Z6, B00D2K1M3O, 000003190...","[B002BZX8Z6, B00JHONN1S, B008F0SU0Y, B00D23MC6...",{'Toys & Games': 211836},Coxlures,"[[Sports & Outdoors, Other Sports, Dance]]"

In [46]:
data = []
with open('meta_Patio_Lawn_and_Garden.json') as f:
    for line in f:
        data.append(json.loads(line)

                            brand        asin
0                      Scholastic  0545417600
1       Harrison House Publishing  0881149659
2               William D. Mathis  0976533502
3                       Hydrofarm  0979914620
4                            JALL  0984408525
...                           ...         ...
279451                      Stens  B01HJEAT3C
279452                       3pdt  B01HJECEIA
279453                        TCP  B01HJEUPHM
279454                        TCP  B01HJEVPDU
279455            Sundale Outdoor  B01HJFQ8LS

[279456 rows x 2 columns]

In [ ]:
json_clean = pd.json_normalize(data)
json_clean = json_clean[['brand','asin']]
json_clean